.index__main {
  margin-bottom: 12%;

  img {
    height: 200px;
    max-width: 300px;
    border-radius: 4px;
  }
}

.c__index {
  height: auto;
  margin-bottom: 15px;

  h2 {
    @include subtitle;
    color: red;
    margin-top: 20px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  @keyframes aparecer {
    0% {
      opacity: 0.2;
    }

    100% {
      opacity: 1;
    }
  }

  h3 {
    font-family: "Josefin Slab", serif;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    color: #222;
    margin-top: 20px;
  }
}