.main__nosotros {

  h2 {
   @include subtitle;
   color: #263869;
  }

  p::first-letter {
    font-size: x-large;
  }

  iframe {
    width: auto;
    margin: 20px 0px;
  }
}

.img__nos img {
  width: 300px;
  margin: 20px 0px;
  border: 1px solid #000;
}