.main__pfrecuentes {
    font-family: "Josefin Slab", serif;
    font-size: 20px;
    font-weight: 400;
    color: black;
    padding: 0 2em;
    
    h2 {
        @include subtitle;
        color: #263869;
    }
    
    li {
        list-style: none;
        line-height: 1.6em;
    }
    
    .question {
        height: 25px;
        margin-left: 1em;
    }
    
    .check {
        height: 25px;
        margin-left: 2em;
    }
}