.main__productos {
    width: 100%;
    height: 100%;
    margin-bottom: 12%;
  
    h3 {
        font-family: "Josefin Slab", serif;
        font-variant: small-caps;
        font-weight: 700;
        font-size: 30px;
        color: #263869;
        text-shadow: 2px 2px 4px #666;
    }
}

.c__productos{
    h5 {
        font-family: "Josefin Slab", serif;
        font-size: 20px;
        font-weight: 600;
        font-style: italic;
        color: #222;
        margin-top: 20px;
    }
    
    img {
        max-width: 250px;
        height: 200px;
        transition: 200ms;
    }
    
    img:hover {
        transform: scale(1.3);
    }
}