.main__productos {
    margin-bottom: 12%;

    h2 {
        @include subtitle;
        color: #263869;
    }
}

.c__productos {

    h3 {
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        font-weight: 800;
        font-style: italic;
        color: #222;
        margin-top: 20px;
    }

    img {
        max-width: 230px;
        height: 180px;
        transition: 200ms;
    }

    img:hover {
        transform: scale(1.3);
    }
}