@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-image: url(/imagenes/fondo1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.gracias {
  height: 70vh;
  width: 100%;
}

.gracias p {
  position: absolute;
  margin-top: 15%;
  left: 25%;
  background-color: rgba(71, 101, 141, 0.5);
  width: 50%;
  padding: 25px;
  text-align: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  text-shadow: 1px 1px 8px #000;
  -webkit-box-shadow: 0px 0px 10px #555;
          box-shadow: 0px 0px 10px #555;
}

.header {
  width: 100%;
  height: 20%;
}

.header h1 {
  font-size: 35px;
  letter-spacing: 5px;
  font-family: "Alfa Slab One", cursive;
  color: #4896ae;
  text-shadow: 1px 2px 4px #222;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* Navegador */
.navbar-brand img {
  height: 40px;
}

.nav-link {
  background-color: #525864;
  color: #fff !important;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0 5px;
}

.nav-link:hover {
  background-color: #4896ae;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.form-inline .btn {
  background-color: #525864;
  color: #fff;
}

.form-inline .btn:hover {
  background-color: #4896ae;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.form-inline input:focus {
  background-color: #c7c7c7;
  outline: none !important;
  border: 1px solid #999;
  -webkit-box-shadow: 0 0 5px #719ECE;
          box-shadow: 0 0 5px #719ECE;
}

.navbar-toggler {
  background-color: #525864;
}

.navbar-toggler:hover {
  background-color: #4896ae;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

/* queries */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
  .navbar-nav {
    width: 40%;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .nv__inicio {
    display: none;
  }
}

.footer {
  width: 100%;
  height: 12%;
  background-color: rgba(47, 49, 53, 0.8);
}

.footer a {
  font-size: 16px;
  color: #152c36;
  text-decoration: none;
  color: #fff;
}

.contact, .redes {
  -webkit-transition: 150ms;
  transition: 150ms;
}

.contact:hover, .redes:hover {
  color: royalblue;
  text-shadow: 2px 2px 6px #fff, -2px -2px 6px #fff;
  text-transform: uppercase;
  font-weight: bolder;
}

.redes:hover {
  color: #f15d4d;
}

.footer__text {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.container__footer img {
  width: 15px;
}

.container__footer iframe {
  width: 120px;
  height: 80px;
}

/* queries */
@media screen and (max-width: 769px) {
  .container__footer iframe {
    display: none;
  }
}

.index__main {
  margin-bottom: 12%;
}

.index__main img {
  height: 200px;
  max-width: 300px;
  border-radius: 4px;
}

.c__index {
  height: auto;
  margin-bottom: 15px;
}

.c__index h2 {
  font-family: 'Nunito', sans-serif;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 30px;
  text-shadow: 2px 2px 4px #666;
  color: red;
  margin-top: 20px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.c__index h3 {
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  color: #222;
  margin-top: 20px;
}

.main__nosotros h2 {
  font-family: 'Nunito', sans-serif;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 30px;
  text-shadow: 2px 2px 4px #666;
  color: #263869;
}

.main__nosotros p::first-letter {
  font-size: x-large;
}

.main__nosotros iframe {
  width: auto;
  margin: 20px 0px;
}

.img__nos img {
  width: 300px;
  margin: 20px 0px;
  border: 1px solid #000;
}

.main__productos {
  margin-bottom: 12%;
}

.main__productos h2 {
  font-family: 'Nunito', sans-serif;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 30px;
  text-shadow: 2px 2px 4px #666;
  color: #263869;
}

.c__productos h3 {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
  color: #222;
  margin-top: 20px;
}

.c__productos img {
  max-width: 230px;
  height: 180px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.c__productos img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.main__pfrecuentes {
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  font-weight: 400;
  color: black;
  padding: 0 2em;
}

.main__pfrecuentes h2 {
  font-family: 'Nunito', sans-serif;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 30px;
  text-shadow: 2px 2px 4px #666;
  color: #263869;
}

.main__pfrecuentes li {
  list-style: none;
  line-height: 1.6em;
}

.main__pfrecuentes .question {
  height: 25px;
  margin-left: 1em;
}

.main__pfrecuentes .check {
  height: 25px;
  margin-left: 2em;
}

.btn-1 {
  background-color: #525864;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.btn-2 {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.main__contacto {
  font-family: "Spline Sans", sans-serif;
  font-variant: small-caps;
}

.main__contacto h2 {
  font-family: 'Nunito', sans-serif;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 30px;
  text-shadow: 2px 2px 4px #666;
  color: #263869;
}

.main__contacto .container-fluid {
  line-height: 1.6rem;
}

.main__contacto .btn-1 {
  color: #fff;
}

.main__contacto .btn-1:hover {
  color: #263869;
  background-color: #dbdbdb;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.main__contacto .btn-2 {
  color: #263869;
}

.main__contacto .btn-2:hover {
  color: #263869;
  background-color: #ffc107;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.main__contacto input:focus {
  background-color: #c7c7c7;
  outline: none !important;
  border: 1px solid #999;
  -webkit-box-shadow: 0 0 5px #719ECE;
          box-shadow: 0 0 5px #719ECE;
}

.main__contacto textarea:focus {
  background-color: #c7c7c7;
  outline: none !important;
  border: 1px solid #999;
  -webkit-box-shadow: 0 0 5px #719ECE;
          box-shadow: 0 0 5px #719ECE;
}
/*# sourceMappingURL=estilos.css.map */