@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

// font-family: 'Spline Sans', sans-serif;
// home - titulo - Alfa Slab One
// productos - 'Karla', sans-serif
// footer - 'Roboto', sans-serif
// nosotros, productos, preguntas frecuentes, contactos - titulos - 'Nunito', sans-serif
// Contactos - Spline Sans

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Mixins

@mixin subtitle {
  font-family: 'Nunito', sans-serif;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 30px;
  text-shadow: 2px 2px 4px #666;
}

body {
  height: 100%;
  width: 100%;
  background-image: url(/imagenes/fondo1.svg);
  background-size: cover;
  background-repeat: no-repeat
}


@import "_header.scss";
@import "_footer.scss";
@import "_index.scss";
@import "_nosotros.scss";
@import "_productos.scss";
@import "_pfrecuentes.scss";
@import "_contactos.scss";